:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --background-dark: #2F303A; 
    --background-light: #F5F4FA;
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--background-light);
    color: var(--primary-text-color);

    font-family: var(--primary-font-family);
    font-size: 14px;
    letter-spacing: 0.03em;
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}
/*========== START COMPONENTS======= */

/* ======== START HEADER========== */
.first-logo {
    font-family: var(--secondary-font-family);
    font-size: 26px;
    line-height: 1.2;
    color: #000000;
}

.part-logo {
    color: var(--accent-color);
}


.nav-link {
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.current {
    color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}
.contact {
    color: inherit;    
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.contact:hover,
.contact:focus {
    color: var(--accent-color);
}
/*======END HEADER======*/

/* ======START MAIN INDEX======= */

/* HERO */
.hero {
    background-color: var(--background-dark)
}
.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4; 
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;

}
.main-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
.main-button:hover,
.main-button:focus {
    background-color: #188CE8;
}

/* SECTION FEATURES */
.title-list {
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.decription {
    line-height: 1.7;
}

/* SECTION WORK */
.title-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--title-text-color);   
}
/* TEAM */
.title-card {
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    color: var(--title-text-color);
    }

.desc-card {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}
/* ======END INDEX======== *


/* ======START MAIN PORTFOLIO===== */
.button {
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    color: var(--title-text-color);
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
} 

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.project-desc {
    font-size: 16px;
    line-height: 1.9;
}
/* ======END MAIN PORTFOLIO======= */
/* ===== START FOTTER===== */
.footer {
    background-color: var(--background-dark);
}
.second-logo {
    color: var(--primary-white-color);
    font-family: var(--secondary-font-family);
    font-size: 26px;
    line-height: 1.2;
}
.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7; 
}

.address-link {
    color: var(--primary-white-color);
}
.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}
.address-contact-link {
    color: rgba(255, 255, 255, 0.6);
}
.address-contact-link:hover,
.address-contact-link:focus {
    color: var(--accent-color);
}
/*======END FOOTER========= */
