:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --background-dark: #2F303A; 
    --background-light: #F5F4FA;
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--background-light);
    color: var(--primary-text-color);

    font-family: var(--primary-font-family);
    font-size: 14px;
    letter-spacing: 0.03em;
}

/*========== START COMPONENTS======= */


/* ======== START HEADER========== */

.first-logo {
    font-family: var(--secondary-font-family);
    font-size: 26px;
    line-height: 1.2;
    color: #000000;
}

.part-logo {
    color: var(--accent-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.nav-link {
    color: var(--title-text-color);
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.current {
    color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}
.contact {
    color: var(--primary-text-color);    
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.contact:hover,
.contact:focus {
    color: var(--accent-color);
}



/* ===== START FOTTER===== */
.second-logo {
    color: var(--primary-white-color);
    background-color: var(--background-dark);
}

